*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --red: #FF2C49;
  --green: #2FF630;
  --blue: #00AAF8;
  --yellow: #FFE751;
  --purple: #8E2F86;

  --badass: #bada55;
}

body {
  font-family: "Poppins";
  height: 100%;
  cursor: url('/assets/cursors/cursor2.cur'), auto;
}

a {
  text-decoration: none;
}

::selection {
  color: #000000;
  background: var(--badass);
}

@font-face {
  font-family: minecraft;
  src: url("/assets/fonts/Minecraft.ttf");
}

.minecraft {
  font-family: minecraft;
}

/* Cursor */
.cursor-dot,
.cursor-dot-outline {
  z-index: 100;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: var(--badass);
}

.cursor-dot-outline {
  width: 25px;
  height: 25px;
  background-color: rgba(249, 252, 237, 0.395);
}
/* Cursor end */
/* Navbar PC */
.navbar-pc {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: var(--badass);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.navbar-pc-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navbar-pc-container .logo {
  width: 3vw;
}

.navbar-pc-container ul {
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding: 0.7vw;
  justify-content: space-between;
  list-style: none;
  gap: 2em;
  font-size: 1.2vw;
  color: #000;
  font-weight: 500;
}

.navbar-pc-container ul li {
  display: flex;
  align-items: center;
}
.link {
  height: 1.2vw;
  line-height: 1.2vw;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
  cursor: url('/assets/cursors/pointer.cur'), auto;
}

.boldlink {
  font-weight: 700;
}
/* Hide extra text */
.mask {
  text-transform: uppercase;
  position: relative;
  padding: 0;
  height: 1.1vw;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.6s ease;
}

.title {
  display: block;
  /*  Set same font-size and line height  */
  font-size: 1.2vw;
  line-height: 1vw;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}
/* Hover Action*/
/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-1vw);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

.navbar-pc-container .zzz {
  padding: 0.3vw;
  width: 2.5vw;
}
/* Navbar PC end */

/* Navbar Mobile */
.navbar {
  display: none;
}
/* Navbar Mobile end */

/* Preload */
.preload {
  font-family: "Press Start 2P", cursive;
  height: 100%;
  box-sizing: border-box;
  z-index: 30;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  transition: height 2s;

  animation-name: mymove;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  from {height: 100%;}
  to {height: 0vh; opacity: 0;}
}

.preload img {
  width: 8vw;
}

.c-loader {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scale: 1;
}

.c-loader__title {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  text-align: center;
  position: relative;
  height: 12px;
  width: 100%;
}
.is--started .c-loader__title {
  animation: loaderTitle 2.5s ease forwards;
}

.c-loader__state {
  position: absolute;
  left: 0;
  right: 0;
}

.is--started .c-loader__state--progress {
  animation: loaderStateProgress 1.7s step-end forwards;
}

.c-loader__state--complete {
  opacity: 0;
}
.is--started .c-loader__state--complete {
  animation: loaderStateComplete 1.7s step-end forwards;
}

.c-loader__dots {
  letter-spacing: -4px;
}

.c-loader__holder {
  margin-top: 24px;
  position: relative;
}

.c-loader__svg {
  fill: white;
}

.c-loader__progress {
  background: white;
  height: 12px;
  display: block;
  position: absolute;
  top: 5px;
  left: 10px;
  right: 11px;
  transform: scaleX(0);
  transform-origin: left center;
}
.is--started .c-loader__progress {
  animation: loader 1.7s ease forwards;
}

.c-loader__progress-helper {
  position: absolute;
  background: white;
  height: 4px;
  width: 4px;
  display: block;
}

.c-loader__progress-helper--left {
  opacity: 0;
  left: 7px;
  top: 9px;
}
.is--started .c-loader__progress-helper--left {
  opacity: 1;
}

.c-loader__progress-helper--right {
  opacity: 0;
  right: 7px;
  top: 9px;
}
.is--started .c-loader__progress-helper--right {
  animation: loaderHelperRight 4s step-end forwards;
}

@keyframes loaderTitle {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  87% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  91% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  93% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loaderStateProgress {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loaderStateComplete {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loaderHelperRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(0.1);
  }
  25% {
    transform: scaleX(0.24);
  }
  43% {
    transform: scaleX(0.41);
  }
  56% {
    transform: scaleX(0.5);
  }
  66% {
    transform: scaleX(0.52);
  }
  71% {
    transform: scaleX(0.6);
  }
  75% {
    transform: scaleX(0.76);
  }
  80% {
    transform: scaleX(0.86);
  }
  90% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
/* Preload end */
/* Socials */
div.socials {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1vw;
  gap: 1vw;
  z-index: 4;
  pointer-events: none;
}

div.socials>*{
  width: 33%;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
}

div.socials div:nth-child(1){
  justify-content: left;
}

div.socials div a {
  color: #fff;
  position: relative;
  margin: 1vw;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.socials div a svg {
  width: 1.2vw;
  height: 1.2vw;
  color: #fff;
  fill: #fff;
  position: absolute;
  transition: all 0.3s ease;
}
div.socials div a svg:hover {
  /* width: 2.6vw;
  height: 2.6vw; */
  transform: scale(1.4);
  color: #fff;
  fill: #fff;
}
/* Socials end */
/* Media Queries */
@media (max-width: 767.98px) { 
  /* Section 1 */
  html,
  html *,
  body,
  body * {
    cursor: default;
  }
  .cursor-dot {
    display: none;
  }
  .cursor-dot-outline {
    display: none;
  }

  .preload .logo {
    width: 30vw;
    margin: 0 0 20vw 0;
    display: block;
  }

  /* Navbar PC */
  .navbar-pc {display: none;}
  /* Navbar PC */
  
  /* Navbar Mobile */
  .menu {
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
    outline: none;
  }
  .line {
    fill: none;
    stroke: #cdf05e;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 9;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 9;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 9;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 9;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 9;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 9;
  }

  .navbar {
    display: block;
    position: fixed;
    width: 100%;
    transition: height 0.7s ease;
    z-index: 5;
    margin: 0 0 3em 0;
    background: rgba( 0, 0, 0, 0.6 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
  }

  .navbar-container {
    width: 100%;
    padding: 2vw 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1vw solid white;
    border-top: 0.1vw solid white;

    background: rgba( 0, 0, 0, 0.6 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
  }

  .navbar-container > * {
    width: 20%;
  }

  .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    align-self: center;
    width: 15vw;
  }

  .navbar-container div span {
    display: inline-block;
    color: #fff;
    font-family: "Poppins", Helvetica;
    font-size: 2.5vw;
    line-height: 1.1em;
    width: 12em;
  }

  .navbar-container button svg {
    width: 12vw;
    height: 12vw;
  }

  green {
    color: #cdf05e;
  }

  .navbar-container button {
    display: flex;
    justify-content: right;
  }

  #nav-menu {
    width: 100%;
    transition: opacity 0.8s;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0;
  }

  .nav-menu ul li a {
    font-size: 14vw;
    padding: 0 0.5em;
    position: relative;
    display: inline-block;
    font-weight: 800;
    color: #fff; 
    background: linear-gradient(to right, #cdf05e, #cdf05e 50%, rgb(255, 255, 255) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 1000ms ease;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-menu ul li a:hover {
    background-position: 0 100%;
  }

  .nav-menu ul li a svg {
    width: 8vw;
    height: 8vw;
  }

  .nav-menu-bar {
    width: 100%;
    color: #fff;
    border-top: 0.07vw solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vw 5vw;
    gap: 1.5em;
  }

  .nav-menu-bar div {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .nav-menu-bar div span {
    font-size: 3.5vw;
    font-weight: 700;
    text-align: center;
    color: #b5d555;
  }

  .nav-menu-bar div ul {
    display: flex;
    flex-direction: row;
    margin: 1em;
    justify-content: space-evenly;
    margin: 1em 0;
  }

  .nav-menu-bar div ul li {
    display: inline-block;
  }

  .nav-menu-bar div ul li a{
    font-size: 0.8vw;
    font-weight: 500;
  }

  .nav-menu-bar div a {
    font-size: 4.5vw;
    margin: 0.5em;
    text-align: center;
    font-weight: 400;
    color: #b5d555;
  }

  .nav-menu-bar .copyright {
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-menu-bar .copyright span, .nav-menu-bar .copyright span a {
    font-size: 2.3vw;
    font-weight: 500;

  }
  /* Navbar mobile end */




  
  div.socials {
    bottom: 8vw;
    margin: 0 auto;
    padding: 2vw;
    gap: 8vw;
  }

  div.socials div:nth-child(1), div.socials div:nth-child(3) {
    position: absolute;
    display: none;
  }

  div.socials div a {
    position: relative;
    display: inline-block;
    margin: 0 5vw;
  }

  div.socials div a svg {
    width: 5vw;
    height: 5vw;
    fill: #fff;
    position: absolute;
    transition: all 0.3s ease;
  }
  div.socials div a svg:hover {
    /* width: 2.6vw;
    height: 2.6vw; */
    transform: scale(1.4);
    fill: #fff;
  }
}
/* Media Queries end */