/* Section1 */
.section1 {
    cursor: default;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
} 

.section1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 4vw auto 0  auto;
  z-index: 4;
}

.connect-heading {
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect-heading .h1 {
  display: flex;
  gap: 3vw;
  align-items: baseline;
}

.connect-heading .h1 span, h1 {
  font-size: 7vw;
  line-height: 8vw;
  color: #fff;
  font-weight: 600;
}

.connect-heading .established {
  color: #fff;
  font-size: 2vw;
  font-weight: 600;
  word-spacing: 0.4vw;
}

.bit-color-shift .bit-letter{
  animation: color-animation 1s linear infinite;
}

.bit-letter-1 {
  --color-1: #00D574;
  --color-2: #FF2C49;
  --color-3: #00AAF8;
  --color-4: #FFE751;

  color: #00D574;
}

.bit-letter-2 {
  --color-1: #FFE751;
  --color-2: #00D574;
  --color-3: #FF2C49;
  --color-4: #00AAF8;

  color: #FF2C49;
}

.bit-letter-3 {
  --color-1: #00AAF8;
  --color-2: #FFE751;
  --color-3: #00D574;
  --color-4: #FF2C49;

  color: #00AAF8;
}

.bit-letter-4 {
  --color-1: #FF2C49;
  --color-2: #00AAF8;
  --color-3: #FFE751;
  --color-4: #00D574;

  color: #FFE751;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  24%    {color: var(--color-1)}
  25%    {color: var(--color-2)}
  49%    {color: var(--color-2)}
  50%    {color: var(--color-3)}
  74%    {color: var(--color-3)}
  75%    {color: var(--color-4)}
  99%    {color: var(--color-4)}
  100%    {color: var(--color-4)}
}

form {
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
}

.form form label {
  font-size: 0.9vw;
  display: inline-block;
  margin: 0.3vw 0;
}

.form form input, .form form select, .form form textarea {
  width: 100%;
  border: 0.1vw solid #fff;
  background-color: #000;
  color: #fff;
  padding: 0.6vw;
  margin: 0 0 0.5vw 0;
  font-family: Poppins;
  font-size: 1.1vw;
  resize: none;
  transition: border-radius 0.2s ease;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
  border-radius: 0.7vw;
}

.arrow-animated {
  height: 4vw;
  width: auto ;
  margin: 0 auto;
  display: block;
  padding: 0.1vw;
}

.form form .submit-btn {
  margin: 1.5vw 0;
  color: #000;
  font-weight: 600;
  border-radius: 2vw;
  background-color: #b5d555;
  border: none;
}

.form .cloud {
  position: absolute;
  width: 8vw;
  top:  -5vw;
  left: -5vw;
}

#cv {
  position: fixed;
  top:0;
  z-index: -1;
}


/* Section 1 end */

/* Media Queries */
@media (max-width: 767.98px) { 
    
    html,body {
      height: 100%;
    }
  
    .section1 {
      padding: 15vw 0 0 0;
    }  

    .section1-container {
      width: 100%;
      margin: 0 auto;
      padding: 5vw;
      overflow: hidden;
    }

    .connect-heading {
      padding: 8vw 0 6vw 0;
    }

    .connect-heading .h1 span, h1 {
      font-size: 13vw;
      line-height: 14vw;
    }

    .connect-heading .established {
      font-size: 5vw;
      word-spacing: 0.8vw;
    }
  
    
    .form form label {
      font-size: 0.8em;
      margin: 0;
    }
    
    .form form input, .form form select, .form form textarea {
      padding: 2em;
      margin: 0 0 3em 0;
      font-family: Poppins;
      resize: none;
      transition: border-radius 0.2s ease;
    }

    input:focus-visible, textarea:focus-visible {
      border-radius: 2vw;
      border: 2px solid white;
    }

    .form .cloud {
      position: absolute;
      width: 20vw;
      top:  -3vw;
      left: 83%;
      transform: rotate(50deg);
      z-index: -1;
    }
    

    .form form input, .form form select, .form form textarea {
      padding: 0.6em;
      margin: 0 0 0.5em 0;
      font-family: Poppins;
      font-size: 1em;
      resize: none;
      transition: border-radius 0.2s ease;
    }

    .arrow-animated {
      height: 3em;
      padding: 0.1em;
    }
    
    div.socials {
      margin: 0em 0 1em 0 ;
      gap: 8vw;
    }

    div.socials img {
      position: absolute;
      width: 40vw;
      height: auto;
      left: 5%;
      transform: translateY(-7vw);
    }

    div.socials a {
      position: relative;
      margin: 0.7vw;
    }
    
    div.socials a svg {
      width: 5vw;
      height: 5vw;
      fill: #fff;
      position: absolute;
      transition: all 0.3s ease;
    }

    /* Section 1 end */
}
/* Media Queries end */