*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: MonumentExtended;
    src: url('/assets/fonts/Monument-Extended/MonumentExtended-Regular.otf');
  }

a {
  text-decoration: none;
}

::selection {
  color: #000000;
  background: #b5d555;
}

html {
  height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: hidden;

}

body {
  font-family: "Poppins";
  height: 100%;
}

@font-face {
  font-family: minecraft;
  src: url("/assets/fonts/Minecraft.ttf");
}

@font-face {
  font-family: "Cactus Jack";
  src: url("/assets/fonts/Cactus\ Jack.ttf");
}

/* Cursor */
.cursor-dot,
.cursor-dot-outline {
  z-index: 100;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #cdf05e;
}

.cursor-dot-outline {
  width: 20px;
  height: 20px;
  background-color: rgba(249, 252, 237, 0.395);
}
/* Cursor end */
/* Navbar PC */
.navbar-pc {
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: #b5d555;
}

.navbar-pc-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navbar-pc-container .logo {
  width: 3vw;
}

.navbar-pc-container ul {
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding: 0.7vw;
  justify-content: space-between;
  list-style: none;
  gap: 2em;
  font-size: 1.2vw;
  color: #000;
  font-weight: 500;
}

.navbar-pc-container ul li {
  display: flex;
  align-items: center;
}

.link {
  height: 1.2vw;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 1.1vw;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.6s ease;
}

.title {
  display: block;
  /*  Set same font-size and line height  */
  font-size: 1.2vw;
  line-height: 1vw;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-1vw);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}


.navbar-pc-container .zzz {
  padding: 0.3vw;
  width: 2.5vw;
}
/* Navbar PC end */

/* Navbar */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
}
.line {
  fill: none;
  stroke: #cdf05e;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 9;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 9;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 9;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 9;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 9;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 9;
}

.navbar {
  display: none;
  position: fixed;
  width: 100%;
  transition: height 0.7s ease;
  z-index: 5;
  margin: 0 0 3em 0;
  backdrop-filter: blur( 15px );
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 1px, rgba(0, 0, 0, 0.07) 0px 4px 2px, rgba(0, 0, 0, 0.07) 0px 8px 4px, rgba(0, 0, 0, 0.07) 0px 16px 8px, rgba(0, 0, 0, 0.07) 0px 32px 16px;
}

.navbar-container {
  width: 100%;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1vw solid white;
  border-top: 0.1vw solid white;
}

.navbar-container > * {
  width: 20%;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  align-self: center;
  width: 4vw;
}

.navbar-container div span {
  display: inline-block;
  color: #fff;
  font-family: "Poppins", Helvetica;
  font-size: 0.9vw;
  line-height: 1.1em;
  width: 15em;
}

green {
  color: #cdf05e;
}

.navbar-container button {
  display: flex;
  justify-content: right;
}

.navbar-container button svg {
  width: 3vw;
  height: 3vw;
}

#nav-menu {
  width: 100%;
  transition: visibility 1s, opacity 0.6s;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.nav-menu ul li a {
  position: relative;
  display: inline-block;
  font-weight: 800;
  color: #fff;
  overflow: hidden;
  background: linear-gradient(to right, #cdf05e, #cdf05e 50%, rgb(255, 255, 255) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  text-decoration: none;
  font-size: 6vw;
  padding: 0 1em;
}

.nav-menu ul li a:hover {
  background-position: 0 100%;
}

.nav-menu-bar {
  width: 100%;
  color: #fff;
  border-top: 0.07vw solid white;
  display: flex;
  justify-content: space-between;
  padding: 1vw 5vw 0.5vw 5vw;
}

.nav-menu-bar div {
  display: flex;
  flex-direction: column;
}

.nav-menu-bar div ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1em;
}

.nav-menu-bar div ul li a{
  display: inline;
  font-size: 0.8vw;
  font-weight: 500;
  padding: 0;
}

.nav-menu-bar div a {
  font-size: 0.8vw;
  font-weight: 500;
  color: #fff;
}
/* Navbar 2 end */
/* Section1 */
.minecraft {
  font-family: minecraft;
}

.section1 {
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    /* background-image: url("/assets/images/starry-night-sky.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-color: rgba(0, 0, 0, 0.31); */
} 

.section1-container {
  width: 75%;
  z-index: 4;
  background: transparent;
  pointer-events: none;
}

.section1-container-item {
  display: block;
  position: relative;
  width: 66.5%;
  margin: 0 auto;
  background: transparent;
}

.section1-container-item .s1ci-tb {
  width: 100%;
  display: block;
  margin: 0 auto 4vw auto;
  color: #fff;
  font-size: 10vw;
  font-weight: 600;
  background: transparent;
}

.section1-container-item .s1ci-tb img {
  width: 2.5vw;
  align-self: center;
  margin-top: 3vw;

  transform: translateY(20%);
  animation: floater 2s infinite;
  transition: ease 2s;
}

@keyframes floater {
  0%{transform: translateY(20%);transition: ease 1s;}
  50%{transform: translateY(-20%);transition: ease 1s;}
}

.section1-container-item .s1ci-tb .text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 11.7vw;
}

.section1-container-item .s1ci-tb .text div {
  display: flex;
  align-items: baseline;
}

.bit-color-shift .bit-letter{
  animation: color-animation 6s linear infinite;
}

.bit-letter-1 {
  --color-1: #FF2C49;
  --color-2: #00D574;
  --color-3: #7D5EF7;
  --color-4: #00AAF8;
  --color-5: #2FF630;
  --color-6: #FFE751;
  --color-7: #FF6D46;

  color: #FF2C49;
}

.bit-letter-2 {
  --color-1: #FF6D46;
  --color-2: #FF2C49;
  --color-3: #00D574;
  --color-4: #7D5EF7;
  --color-5: #00AAF8;
  --color-6: #2FF630;
  --color-7: #FFE751;

  color: #FF6D46;
}

.bit-letter-3 {
  --color-1: #FFE751;
  --color-2: #FF6D46;
  --color-3: #FF2C49;
  --color-4: #00D574;
  --color-5: #7D5EF7;
  --color-6: #00AAF8;
  --color-7: #2FF630;

  color: #FFE751;
}

.bit-letter-4 {
  --color-1: #2FF630;
  --color-2: #FFE751;
  --color-3: #FF6D46;
  --color-4: #FF2C49;
  --color-5: #00D574;
  --color-6: #7D5EF7;
  --color-7: #00AAF8;

  color: #2FF630;
}

.bit-letter-5 {
  --color-1: #00AAF8;
  --color-2: #2FF630; 
  --color-3: #FFE751;
  --color-4: #FF6D46;
  --color-5: #FF2C49;
  --color-6: #00D574;
  --color-7: #7D5EF7;

  color: #00AAF8;
}

.bit-letter-6 {
  --color-1: #7D5EF7;
  --color-2: #00AAF8;
  --color-3: #2FF630;
  --color-4: #FFE751;
  --color-5: #FF6D46;
  --color-6: #FF2C49;
  --color-7: #00D574;

  color: #7D5EF7;
}

.bit-letter-7 {
  --color-1: #00D574;
  --color-2: #7D5EF7;
  --color-3: #00AAF8;
  --color-4: #2FF630;
  --color-5: #FFE751;
  --color-6: #FF6D46;
  --color-7: #FF2C49;

  color: #00D574;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  14%   {color: var(--color-1)}
  15%   {color: var(--color-2)}
  28%   {color: var(--color-2)}
  29%   {color: var(--color-3)}
  42%   {color: var(--color-3)}
  43%   {color: var(--color-4)}
  56%  {color: var(--color-4)}
  57%  {color: var(--color-5)}
  70%  {color: var(--color-5)}
  71%  {color: var(--color-6)}
  84%  {color: var(--color-6)}
  85%  {color: var(--color-7)}
  100%  {color: var(--color-7)}
}

/* Here are just some visual styles. 🖌 */

.section1-container-item .s1ci-center {
  position: absolute;
  top: 53%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-size: 0.8vw;
}

.section1-container-item .s1ci-center span {
  display: block;
  line-height: 0.5vw;
  text-align: justify;
}

.section1-container-item .s1ci-center span:nth-child(2){
  margin-right: 7vw;
}

.draw-text {
  font-family: "Cactus Jack";
  color: #fff;
  font-size: 2vw;
  position: absolute;
  top: 3vw;
  left: 0;
}

.fftdraw {
  position: absolute;
  top: 1vw;
  left: 1.5vw;
  text-align: center;
  font-family: "Cactus Jack";
  font-size: 3.1vw ;
  line-height: 3vw;
  color: #fff;
  transform: rotate(-10deg);
  z-index: 4;
  pointer-events: none;

  /* -webkit-animation: squiggly-anim 0.6s linear infinite;
  animation: squiggly-anim 0.6s linear infinite; */
}

.fftdraw img {
  width: 15vw;
}

.fftdraw u {
  display: inline-block;
  text-decoration: none;
  padding: 0.3vw 0;
  border-bottom: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,0) 99%) 5px solid;
}

.fftdraw u::after {
  content: "";
  /*display: block; not needed when position:absolute used in this case*/
  position: absolute;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(0,0,0,0) 88%, rgba(255,255,255,0) 100%);
  height: 0.2vw;
  bottom: 2.9vw;
  left: 6.6vw;/* match width of text and padding*/
  right: 0;/* match width of text and padding*/
  width: 40%;
}

@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}

.welcome-to {
  position: absolute;
  right: 10vw;
  bottom: 6vw;
  color: #fff;
  font-family: "Cactus Jack";
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  pointer-events: none;

  /* -webkit-animation: squiggly-anim 0.6s linear infinite;
  animation: squiggly-anim 0.6s linear infinite; */
}

.welcome-to div {
  transform: translateY(-0.8vw);
  transform: rotate(9deg);
}

.welcome-to div span {
  display: block;
  line-height: 1.5vw;
}

.welcome-to div span:nth-child(1) {
  font-size: 2.5vw;
}
.welcome-to div span:nth-child(2) {
  font-size: 1.4vw;
}

.welcome-to img {
  position: absolute;
  width: 19vw;
}

div.socials {
  position: absolute;
  display: block;
  bottom: 0;
  display: flex;
  margin: 0 auto;
  padding: 2vw;
  gap: 1vw;
  z-index: 4;
  pointer-events: none;
}

div.socials a {
  color: #fff;
  position: relative;
  margin: 0.7vw;
  pointer-events: all;
}

div.socials a svg {
  width: 1.2vw;
  height: 1.2vw;
  color: #fff;
  fill: #fff;
  position: absolute;
  transition: all 0.3s ease;
}
div.socials a svg:hover {
  /* width: 2.6vw;
  height: 2.6vw; */
  transform: scale(1.4);
  color: #fff;
  fill: #fff;
}

.draw {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.draw #canvas {
  border: 1px solid black; 
  width: 100vw;
  height: 100%;
 }
 
 .stroke-color {
   border-radius: 50%;
   width: 30px;
   height: 30px;
 }

.draw #clear-btn {
  display: none;
  position: absolute;
  color: #fff;
}
#cv {
  position: absolute;
  z-index: -1;
  opacity: 100%;
}

/* Section 1 end */

/* Media Queries */
@media (max-width: 767.98px) { 
    /* Section 1 */
    html,
    html *,
    body,
    body * {
      cursor: default;
    }
    .cursor-dot {
      display: none;
    }
    .cursor-dot-outline {
      display: none;
    }

    /* Navbar */
    .navbar-pc {display: none;}
    .navbar {
      backdrop-filter: blur( 15px );
      display: block;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 1px, rgba(0, 0, 0, 0.07) 0px 4px 2px, rgba(0, 0, 0, 0.07) 0px 8px 4px, rgba(0, 0, 0, 0.07) 0px 16px 8px, rgba(0, 0, 0, 0.07) 0px 32px 16px;
    }

    .navbar-container {
      padding: 2vw 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1vw solid white;
      border-top: 0.1vw solid white;
    }

    .navbar-container > * {
      width: 25%;
    }

    .logo {
      width: 15vw;
    }    

    .navbar-container div span {
      display: none;
      font-size: 2.5vw;
      line-height: 1.1em;
      width: 12em;
    }

    .navbar-container button svg {
      width: 12vw;
      height: 12vw;
    }

    .nav-menu ul {
      margin: 2em 0;
    }

    .nav-menu ul li a {
      font-size: 15vw;
      padding: 0 0.5em;
    }

    .nav-menu-bar {
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 4vw 5vw;
      gap: 1.2em;
    }

    .nav-menu-bar div span {
      font-size: 2.8vw;
      font-weight: 100;
    }

    .nav-menu-bar div ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
    }

    .nav-menu-bar div ul li {
      display: inline-block;
    }

    .nav-menu-bar div ul li a{
      display: inline-block;
      font-size: 5vw;
      font-weight: 500;
      padding: 0;
    }

    .nav-menu-bar div a {
      font-size: 4vw;
      font-weight: 500;
      color: #fff;
    }

    .nav-menu-bar .copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .nav-menu-bar .copyright span {
      font-size: 2.5vw;
      display: inline;
    }

    /* Navbar */
    
    .section1 {
        background-size: auto;
        background-position: center;
    }  

.section1-container {
  width: 89%;
  margin: 0 auto;
}

.section1-container-item {
  width: 100%;
}

.section1-container-item .s1ci-tb {
  margin: 0;
  color: #fff;
  font-size: 18vw;
  font-weight: 600;
}

.section1-container-item .s1ci-tb img {
  width: 5vw;
  margin-top: 7vw;
}

.section1-container-item .s1ci-tb .text {
  height: 21vw;
}

.section1-container-item .s1ci-center {
  top: 53%;
  width: 100%;
  font-size: 1.7vw;
}

.section1-container-item .s1ci-center span {
  line-height: 1.2vw;
}

.section1-container-item .s1ci-center span:nth-child(2){
  margin-right: 13vw;
}

.bit-color-shift .bit-letter{
  animation: color-animation 6s linear infinite;
}

.draw-text {
  font-size: 2vw;
  position: absolute;
  top: 3vw;
  left: 0;
}

.fftdraw {
  position: absolute;
  top: 12%;
  left: 5vw;
  text-align: center;
  font-family: "Cactus Jack";
  font-size: 6.5vw ;
  line-height: 6vw;
  color: #fff;
  transform: rotate(-10deg);
}

.fftdraw img {
  width: 30vw;
}

.welcome-to {
  position: absolute;
  right: 20vw;
  bottom: 25vw;
  color: #fff;
  font-family: "Cactus Jack";
  display: flex;
  align-items: center;
  justify-content: center;
}



.welcome-to div {
  transform: translateY(-1vw);
}

.welcome-to div span {
  display: block;
  line-height: 4vw;
}

.welcome-to div span:nth-child(1) {
  font-size: 5vw;
}
.welcome-to div span:nth-child(2) {
  font-size: 3.2vw;
}

.welcome-to img {
  position: absolute;
  width: 35vw;
}

div.socials {
  bottom: 8vw;
  margin: 0 auto;
  padding: 2vw;
  gap: 8vw;
}

div.socials a {
  position: relative;
  margin: 0.7vw;
}

div.socials a svg {
  width: 5vw;
  height: 5vw;
  fill: #fff;
  position: absolute;
  transition: all 0.3s ease;
}
div.socials a svg:hover {
  /* width: 2.6vw;
  height: 2.6vw; */
  transform: scale(1.4);
  fill: #fff;
}

    /* Section 1 end */
}
/* Media Queries end */