/* Section1 */
.section1 {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
} 

.section1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 97%;
  margin: 3vw auto 0  auto;
  z-index: 4;
}

.team-heading {
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

.section1-container:nth-child(1) .team-heading {
  padding: 3vw 2vw;
}

.team-heading .h1 {
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: baseline;
  gap: 2vw;
  line-height: 6vw;
} 

.team-heading .h1 h1, .team-heading .h1 span {
  font-size: 7vw;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: baseline;
} 

.team-heading .team-content {
  color: #fff;
  width: 36%;
  font-size: 1vw;
  display: flex;
  justify-content: right;
  text-justify: auto;
}

.team-content .team-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-content .team-content-container div {
  display: flex;
  justify-content: space-between;
}

.team {
  width: 100%;
  z-index: 5;
}

.team-container {
  width: 100%;
  display: flex;
  padding: 1vw 2vw;
  gap: 1.3vw;
}

.team-container-item {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.team-container-item:hover img {
  scale: 1.05;
  transform: rotate(-1deg);
}

.team-container-item img {
  width: 100%;
  scale: 1.01;
  transition: all 0.7s ease;
}

.team-container-item h2 {
  text-align: center;
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 3vw;
  padding: 2.5vw 0 2vw 0;
  color: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
}

.team-container-item h2 span:nth-child(1) {
  font-weight: 800;
  color: #000;
}

.team-container-item:nth-child(1) {
  background-color: var(--red);
}

.team-container-item:nth-child(2) {
  background-color: var(--green);
}

.team-container-item:nth-child(3) {
  background-color: var(--blue);
}

.team-container-item:nth-child(4) {
  background-color: var(--yellow);
}

.section1-container .h2 h2 {
  font-size: 7vw;
  color: #fff;
  display: flex;
  align-items: baseline;
  gap: 1.5vw;
  line-height: 7vw;
}

.team-container p {
  font-size: 1.2vw;
  color: #fff;
  text-align: justify;
}

div.socials {
  display: block;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  padding: 4vw;
  gap: 1vw;
  z-index: 4;
}

div.socials img {
  position: absolute;
  width: 18vw;
  height: auto;
  right: 5%;
  transform: translateY(30%);
}

div.socials a {
  color: #fff;
  position: relative;
  margin: 0.7vw;
}

div.socials a svg {
  width: 1.5vw;
  height: 1.5vw;
  color: #fff;
  fill: #fff;
  position: absolute;
  transition: all 0.3s ease;
}
div.socials a svg:hover {
  /* width: 2.6vw;
  height: 2.6vw; */
  transform: scale(1.4);
  color: #fff;
  fill: #fff;
}

#cv {
  position: fixed;
  top:0;
  z-index: -1;
}


/* Section 1 end */

/* Media Queries */
@media (max-width: 767.98px) {    
    .section1 {
      padding: 20vw 0 0 0;
    }  

    .section1-container {
      width: 100%;
      margin: 0 auto;
    }

    .section1-container:nth-child(1) {
      margin: 0 0 10vw 0;
    }

    .team-container {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      gap: 1em;
    }    

    .team-container-item {
      width: 45%;
      border-radius: 3vw;
    }
    
    .team-container-item h2 {
      font-size: 5.5vw;
      line-height: 6vw;
      padding: 3vw 0 2vw 0;
    }
    

    .team-heading {
      margin: 8vw 0;
      justify-content: center;
      text-align: center;
    }

    .team-heading .h1 {
      line-height: 12vw;
      gap: 4vw;
      justify-content: center;
    }
    
    .team-heading .h1 h1, .team-heading .h1 span {
      font-size: 18vw;
      font-weight: 700;
      color: #fff;
      display: flex;
      align-items: baseline;
    } 

    .team-heading .team-content {
      width: 90%;
      font-size: 3vw;
      display: flex;
      margin: 1.5em auto 0 auto;
      text-justify: auto;
    }
    
    .team-heading .h2 h2{
      margin: 0.5em 0 0 0;
      font-size: 20vw;
      display: inline-block;
    }

    .team-container p {
      font-size: 4vw;
      width: 90%;
      margin: 2em auto;
    }
    
    div.socials {
      height: 10vw;
      bottom: 8vw;
      margin: 0 auto;
      padding: 40vw 0vw 15vw 0;
      gap: 8vw;
    }

    div.socials img {
      position: absolute;
      width: 45vw;
      height: auto;
      left: 30%;
      transform: translateY(1vw);
    }

    div.socials a {
      position: relative;
      margin: 0.7vw;
    }

    div.socials a svg {
      width: 5vw;
      height: 5vw;
      fill: #fff;
      position: absolute;
      transition: all 0.3s ease;
    }

    /* Section 1 end */
}
/* Media Queries end */